In [ ]:
!pip install google-generativeai
!pip install pymysql
!pip install langchain
!pip install sentence-transformers

In [1]:
from langchain.llms import GooglePalm

api_key = "AIzaSyBAr2ykbUSKGWID9NAJd_nA6Lfc8ilVZ7A"
llm = GooglePalm(google_api_key= api_key, temperature=0)

In [2]:
from langchain.utilities import SQLDatabase
db_user = "root"
db_password = "root"
db_host = "localhost"
db_name = "apple_store"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}", sample_rows_in_table_info =3)
print(db.table_info)

CREATE TABLE apple_data (
	product_id BIGINT(20),
	product_category TEXT,
	product_name TEXT,
	price BIGINT(20),
	stock_quantity BIGINT(20)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from apple_data table:
product_id	product_category	product_name	price	stock_quantity
101	iPhone	iPhone 13	999	50
102	MacBook	MacBook Air	1299	30
103	iPad	iPad Pro	799	40
*/


CREATE TABLE discounts (
	product_id BIGINT(20),
	discount_perc BIGINT(20)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from discounts table:
product_id	discount_perc
101	5
102	7
103	8
*/

In [5]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
query1 = db_chain("How many total iphones do we have left in stock?")

> Entering new SQLDatabaseChain chain...
How many total iphones do we have left in stock?
SQLQuery:SELECT SUM(stock_quantity) FROM apple_data WHERE product_category = 'iPhone'
SQLResult: [(Decimal('420'),)]
Answer:420
> Finished chain.

In [9]:
query1 = db_chain.run("select product_category, sum(stock_quantity) from apple_date where product_category = 'iPhone'")
query1

> Entering new SQLDatabaseChain chain...
select product_category, sum(stock_quantity) from apple_date where product_category = 'iPhone'
SQLQuery:SELECT `product_category`, SUM(`stock_quantity`) FROM `apple_data` WHERE `product_category` = 'iPhone'
SQLResult: [('iPhone', Decimal('420'))]
Answer:iPhone, 420
> Finished chain.

'iPhone, 420'

In [6]:
query2 = db_chain("What is the price of inventory for all ipad pro?")

> Entering new SQLDatabaseChain chain...
What is the price of inventory for all ipad pro?
SQLQuery:SELECT SUM(price) FROM apple_data WHERE product_name = 'iPad Pro'
SQLResult: [(Decimal('799'),)]
Answer:799
> Finished chain.

In [28]:
#INCORRECT, hence needs to be corrected

query2 = db_chain.run("select sum(price * stock_quantity) from apple_data where product_name = 'iPad Pro';")

> Entering new SQLDatabaseChain chain...
select sum(price * stock_quantity) from apple_data where product_name = 'iPad Pro';
SQLQuery:SELECT SUM(`price` * `stock_quantity`) FROM `apple_data` WHERE `product_name` = 'iPad Pro'
SQLResult: [(Decimal('31960'),)]
Answer:31960
> Finished chain.

In [7]:
query3 =  db_chain.run("If we have to sell all the iphones today with discounts applied, how much revenue our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the iphones today with discounts applied, how much revenue our store will generate (post discounts)?
SQLQuery:SELECT SUM(price * (1 - discount_perc / 100)) FROM apple_data JOIN discounts ON apple_data.product_id = discounts.product_id WHERE product_name = 'iPhone 13' AND CURDATE() BETWEEN apple_data.start_date AND apple_data.end_date

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'apple_data.start_date' in 'where clause'")
[SQL: SELECT SUM(price * (1 - discount_perc / 100)) FROM apple_data JOIN discounts ON apple_data.product_id = discounts.product_id WHERE product_name = 'iPhone 13' AND CURDATE() BETWEEN apple_data.start_date AND apple_data.end_date]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [19]:
#INCORRECT, needs to be corrected
query3 = db_chain.run('''
select sum(t1.total_amount * ((100 - t2.discount_perc)/100)) as total_revenue
from (select product_id, sum(price*stock_quantity) as total_amount from apple_data
where product_category='iPhone' group by product_id) t1
left join discounts t2 on t1.product_id = t2.product_id;'''
                  )

> Entering new SQLDatabaseChain chain...

select sum(t1.total_amount * ((100 - t2.discount_perc)/100)) as total_revenue
from (select product_id, sum(price*stock_quantity) as total_amount from apple_data
where product_category='iPhone' group by product_id) t1
left join discounts t2 on t1.product_id = t2.product_id;
SQLQuery:select sum(t1.total_amount * ((100 - t2.discount_perc)/100)) as total_revenue
from (select product_id, sum(price*stock_quantity) as total_amount from apple_data
where product_category='iPhone' group by product_id) t1
left join discounts t2 on t1.product_id = t2.product_id;
SQLResult: [(Decimal('301854.4000'),)]
Answer:301854.4
> Finished chain.

In [20]:
query4 = db_chain.run("How many airpods do we have available?")

> Entering new SQLDatabaseChain chain...
How many airpods do we have available?
SQLQuery:SELECT stock_quantity FROM apple_data WHERE product_name = "AirPods"
SQLResult:
Answer:50
> Finished chain.

In [21]:
#INCORRECT, needs to be corrected
query4 = db_chain.run("select sum(stock_quantity) from apple_data where product_category='Airpods';")

> Entering new SQLDatabaseChain chain...
select sum(stock_quantity) from apple_data where product_category='Airpods';
SQLQuery:SELECT SUM(`stock_quantity`) FROM `apple_data` WHERE `product_category` = 'Airpods'
SQLResult: [(Decimal('495'),)]
Answer:495
> Finished chain.

In [48]:
query2, query3, query4

('31960', '301854.4', '495')

In [396]:
few_shots = [
    {
        'Question': "What is the price of inventory for all ipad pro?" ,
        'SQLQuery' : "select product_name as ProductName, sum(price * stock_quantity) as TotalPrice from apple_data where product_name = 'iPad Pro';",
    },

    {
        'Question': "If we have to sell all the iphones today with discounts applied, how much revenue our store will generate (post discounts)?" ,
        'SQLQuery' : """select t1.product_category as ProductCategory, sum(t1.total_amount * ((100 - t2.discount_perc)/100)) as TotalRevenue
                        from (
                            select product_id, product_category, sum(price*stock_quantity) as total_amount
                            from apple_data where product_category='iPhone'
                            group by product_id, product_category
                        ) t1
                        left join discounts t2 on t1.product_id = t2.product_id
                        group by t1.product_category;"""
    },

    {
        'Question': "How many airpods do we have available?" ,
        'SQLQuery' : "select product_category as ProductCategory, sum(stock_quantity) as Quantity from apple_data where product_category='Airpods';"
    },

    {
        'Question': "How many iPhones do we have left in stock?" ,
        'SQLQuery' : "select product_category as ProductCategory, sum(stock_quantity) as Quantity from apple_data where product_category='iPhone';"
    },

        {
        'Question': "How many iPad Pro are left stock?" ,
        'SQLQuery' : "select product_name as ProductName, sum(stock_quantity) as Quantity from apple_data where product_name='iPad Pro';"
    },


    {
        'Question': 'What is the price of iphone 13?',
        'SQLQuery': """select product_name as ProductName, price as Price 
                        from apple_data where product_name= 'iPhone 13';"""
    },

    {
        'Question': 'What is the discounted price for iPhone 13?',
        'SQLQuery': """
                    select a.product_name, a.price, (a.price - (a.price* d.discount_perc)/100) as DiscountedPrice
                    from apple_data a join discounts d on a.product_id = d.product_id
                    where a.product_name = 'iPhone 13';    
                    """
    },

    {
        'Question': "What is the discount present on Airpods Max",
        'SQLQuery': """select a.product_name, d.discount_perc
                     from apple_data a join discounts d on a.product_id = d.product_id
                      where a.product_name = 'Airpods Max';
                    """
    }
]

In [397]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import FAISS

embeddings = HuggingFaceEmbeddings(model_name = 'sentence-transformers/all-miniLM-L6-v2')

to_vectorize = [' '.join(example.values()) for example in few_shots]

to_vectorize

["What is the price of inventory for all ipad pro? select product_name as ProductName, sum(price * stock_quantity) as TotalPrice from apple_data where product_name = 'iPad Pro';",
 "If we have to sell all the iphones today with discounts applied, how much revenue our store will generate (post discounts)? select t1.product_category as ProductCategory, sum(t1.total_amount * ((100 - t2.discount_perc)/100)) as TotalRevenue\n                        from (\n                            select product_id, product_category, sum(price*stock_quantity) as total_amount\n                            from apple_data where product_category='iPhone'\n                            group by product_id, product_category\n                        ) t1\n                        left join discounts t2 on t1.product_id = t2.product_id\n                        group by t1.product_category;",
 "How many airpods do we have available? select product_category as ProductCategory, sum(stock_quantity) as Quantity from apple_data where product_category='Airpods';",
 "How many iPhones do we have left in stock? select product_category as ProductCategory, sum(stock_quantity) as Quantity from apple_data where product_category='iPhone';",
 "How many iPad Pro are left stock? select product_name as ProductName, sum(stock_quantity) as Quantity from apple_data where product_name='iPad Pro';",
 "What is the price of iphone 13? select product_name as ProductName, price as Price \n                        from apple_data where product_name= 'iPhone 13';",
 "What is the discounted price for iPhone 13? \n                    select a.product_name, a.price, (a.price - (a.price* d.discount_perc)/100) as DiscountedPrice\n                    from apple_data a join discounts d on a.product_id = d.product_id\n                    where a.product_name = 'iPhone 13';    \n                    ",
 "What is the discount present on Airpods Max select a.product_name, d.discount_perc\n                     from apple_data a join discounts d on a.product_id = d.product_id\n                      where a.product_name = 'Airpods Max';\n                    "]

In [400]:
vectorstore = FAISS.from_texts(to_vectorize, embeddings, metadatas=few_shots)
vectorstore

In [420]:
import joblib
joblib.dump(vectorstore, 'data/vectorstore.joblib')

['data/vectorstore.joblib']

In [423]:
vectorstore = joblib.load('data/vectorstore.joblib')

exampleSelector = SemanticSimilarityExampleSelector(vectorstore=vectorstore, k=1)
exampleSelector.select_examples({"Question": "How many iphone I have left in my store?"})

[{'Question': 'How many iPhones do we have left in stock?',
  'SQLQuery': "select product_category as ProductCategory, sum(stock_quantity) as Quantity from apple_data where product_category='iPhone';"}]

In [402]:
exampleSelector.select_examples({"Question": "What is the price of iPhone 13?"})

[{'Question': 'What is the discounted price for iPhone 13?',
  'SQLQuery': "\n                    select a.product_name, a.price, (a.price - (a.price* d.discount_perc)/100) as DiscountedPrice\n                    from apple_data a join discounts d on a.product_id = d.product_id\n                    where a.product_name = 'iPhone 13';    \n                    "}]

In [403]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt
print(_mysql_prompt)
print(PROMPT_SUFFIX)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here


Only use the following tables:
{table_info}

Question: {input}

In [404]:
data_dict = """
TABLE NAME : apple_data
TABLE DESCRIPTION: This is the product inventory table which has details at product level.
COLUMN DESCRIPTION:
- product_id : unique ID for each product.
- product_category : It is a product hierarchy column which tells which category the given product belongs to.
- product_name : This column tells the name of the product for the given product_id.
- price: This is the price per unit for the given product_id.
- stock_quantity : Total units left in stock or units available for the a given product_id.

TABLE NAME : dicounts
TABLE DESCRIPTION: This is the discount table which has all the discounts related information at product_id level.
COLUMN DESCRIPTION:
- product_id : Unique product ID to identify the product.
- discount_perc : Discount percentage for a product. Value of 5 represents 5 percentage discount on the unit price of the product. 

"""

In [405]:
mysql_prompt = f"""

You are a MySQL expert and you have to answer using SQL queries for the question using DATA DICTIONARY : {data_dict}.

Follow the RULES mentioned below while displaying the answer:
1. Give only SQL Query as response/output.
2. Do not do any modification operations like Alter, Update, Delete or Truncate.
3. Use only columns and tables mentioned in the data dictionary.
4. Output should have unique records only.

IMPORTANT: Give only SQL Query as response.

INSTRUCTIONS: Don't use tab or extra spaces while generating queries.

Use the following format:

Question: Question here
SQLQuery: SQL Query to return
"""

In [406]:
from langchain.prompts.prompt import PromptTemplate
examplePrompt = PromptTemplate(
    input_variables = ["Question", "SQLQuery"],
    template = "\nQuestion: {Question}\nSQLQuery: {SQLQuery}"
)

examplePrompt

PromptTemplate(input_variables=['Question', 'SQLQuery'], output_parser=None, partial_variables={}, template='\nQuestion: {Question}\nSQLQuery: {SQLQuery}', template_format='f-string', validate_template=True)

In [407]:
from langchain.prompts import FewShotPromptTemplate
fewShotPrompt = FewShotPromptTemplate(
    example_selector= exampleSelector,
    example_prompt= examplePrompt,
    prefix= mysql_prompt,
    suffix= "Qustion: {input}",
    input_variables= ["input"]
)

In [241]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt = fewShotPrompt)

In [242]:
result = new_chain("How many iphones do we have left?")
result

> Entering new SQLDatabaseChain chain...
How many iphones do we have left?
SQLQuery:select sum(stock_quantity) from apple_data where product_category='iPhone';
SQLResult: [(Decimal('420'),)]
Answer:420
> Finished chain.

{'query': 'How many iphones do we have left?', 'result': '420'}

In [255]:
# from langchain.chains import ConversationChain
# from langchain.memory import ConversationBufferWindowMemory

# memory = ConversationBufferWindowMemory(k=1)
# conversation = ConversationChain(
#     llm = llm, verbose=False, memory = memory
# )

# response = conversation.predict(input = fewShotPrompt.format(input="What is the price of iphone 13?"))
# print(response)

SQLQuery: select product_name as ProductName, price as Price
                       from apple_data where product_name= 'iPhone 13';

In [254]:
# response = conversation.predict(input = fewShotPrompt.format(input="discounted price of the same?"))
# print(response)

SQLQuery: select a.product_name, a.price, d.discount_perc, a.price*(1-d.discount_perc) as discounted_price
                    from apple_data a join discounts d on a.product_id = d.product_id
                     where a.product_name = 'Airpods Max';

In [408]:
chat_history = ""

history = f"""Based on the conversation below, answer the current question.
Convsersation history : 
Question : {chat_history["HumanMessage"]}
AI Response : {chat_history["AIMessage"]}
"""

#prompt = "How many mac pro are left in stock?"
prompt = "What is the price?"
from langchain.schema import SystemMessage, HumanMessage, AIMessage

#
msg = [
    SystemMessage(content = mysql_prompt),
    HumanMessage(content = exampleSelector.select_examples({"Question": prompt})[0]['Question']),
    AIMessage(content = exampleSelector.select_examples({"Question": prompt})[0]['SQLQuery'])
    ]

msg.append(SystemMessage(content = history))
msg.append(HumanMessage(content= prompt))


response = llm(str(msg))
response

"Question: What is the price?\nSQLQuery: select price from apple_data where product_name='Mac Pro'"

In [415]:
re.compile(r'SQLQuery: (.+?)(?:;|$)', re.DOTALL) \
    .findall("Question: What is the price?\nSQLQuery: select price from apple_data where product_name='Mac Pro';")

["select price from apple_data where product_name='Mac Pro'"]

In [413]:
import re
pattern = re.compile(r'SQLQuery: (.+?)(?:;|$)', re.DOTALL)
matches = pattern.findall(response)
response_query = matches[1] if len(matches)>1 else matches[0]
response_query

"select price from apple_data where product_name='Mac Pro'"

In [416]:
import pandas as pd
from sqlalchemy import create_engine

database_name = 'apple_store'
data_table = 'apple_data'
discount_table = 'discounts'

mysql_conn_str = f"mysql+mysqlconnector://root:root@localhost/{database_name}"

engine = create_engine(mysql_conn_str, echo=False)

con= engine.connect()
df_result = pd.read_sql(response_query, con)
con.close()

df_result

   price
0   5999

In [388]:
def chathistory(prompt)
chat_history = {"HumanMessage": prompt,
                "AIMessage": response_query}
chat_history

{'HumanMessage': 'How many mac pro are left in stock?',
 'AIMessage': "select product_name as ProductName, sum(stock_quantity) as Quantity from apple_data where product_name='Mac Pro'"}

In [259]:
# response = llm(fewShotPrompt.format(input="What is the price for iphone 13?"))
# response = response.replace("\nSQLQuery: ", "")

# response

"select product_name as ProductName, price as Price \n                       from apple_data where product_name= 'iPhone 13';"

#### Testing

In [571]:
import re
import os
import joblib
import pandas as pd
from langchain.llms import GooglePalm
from langchain.vectorstores import FAISS
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.schema import SystemMessage, HumanMessage, AIMessage
from sqlalchemy import create_engine
from utilities import data_dict, mysql_prompt, generic_prompts, few_shots
from dotenv import load_dotenv
load_dotenv()

# database_name = 'apple_store'
# data_table = 'apple_data'
# discount_table = 'discounts'
# mysql_conn_str = f"mysql+mysqlconnector://root:root@localhost/{database_name}"

history_df = pd.DataFrame(columns = ["HumanMessage", "AIMessage"])

def load_embeddings():
    vectorstore = joblib.load('data/vectorstore.joblib')
    return vectorstore

def get_chat_history(history_df):
    try:
        chat_history = {'HumanMessage': history_df['HumanMessage'].iloc[0],
         'AIMessage': history_df['AIMessage'].iloc[0]}
        history = f"""Based on the conversation below, answer the current question.
        Convsersation history : 
        Question : {chat_history["HumanMessage"]}
        AI Response : {chat_history["AIMessage"]}
        """
    except:
        history = ""
    return history

def save_chat_history(chat_history_dict, history_df):
    cur_his_df = pd.DataFrame(chat_history_dict)
    history_df = pd.concat([cur_his_df, history_df], axis=0, ignore_index=True)
    return history_df

def get_sql_result(sql_query):
    engine = create_engine(mysql_conn_str, echo=False)
    con= engine.connect()
    df_result = pd.read_sql(sql_query, con)
    con.close()
    return df_result

def clean_response_query(response):
    pattern = re.compile(r'SQLQuery: (.+?)(?:;|$)', re.DOTALL)
    matches = pattern.findall(response)
    response_query = matches[1] if len(matches)>1 else matches[0]
    response_query_clean = response_query.replace('\\n',' ')
    return response_query_clean

def refresh_chat_history(history_df):
    if len(history_df)>5:
        history_df = history_df[:5]
    return history_df

def generate_llm_response(prompt, history_df):
    llm = GooglePalm(google_api_key= os.environ['GOOGLE_API_KEY'], temperature=0.1)

    vectorstore = load_embeddings()
    exampleSelector = SemanticSimilarityExampleSelector(vectorstore = vectorstore, k=1)
    response, chat_history = "", dict()
    chat_history = get_chat_history(history_df)

    #prompt = "How many mac pro are left in stock?"
    msg = [
        SystemMessage(content = mysql_prompt),
        HumanMessage(content = exampleSelector.select_examples({"Question": prompt})[0]['Question']),
        AIMessage(content = exampleSelector.select_examples({"Question": prompt})[0]['SQLQuery'])
        ]

    msg.append(SystemMessage(content = chat_history))
    msg.append(HumanMessage(content= prompt))

    response = llm(str(msg))

    clean_query = clean_response_query(response)

    res_data = get_sql_result(clean_query)

    chat_history_dict = {'HumanMessage': [prompt], 'AIMessage': [clean_query]}
    print(f"Chat history: {history_df}")
    history_df = save_chat_history(chat_history_dict, history_df)

    history_df = refresh_chat_history(history_df)

    return res_data, history_df

In [572]:
generate_llm_response("What is the price of iphone 13?", history_df)[0]

Chat history: Empty DataFrame
Columns: [HumanMessage, AIMessage]
Index: []

   price
0    999

In [573]:
resp1, history_df =  generate_llm_response("What is the price of iphone 13?", history_df)
print(resp1)
print(history_df)

resp2, history_df = generate_llm_response("How many units are left in stock?", history_df)
print(resp2)
print(history_df)

Chat history: Empty DataFrame
Columns: [HumanMessage, AIMessage]
Index: []
  product_name  price
0    iPhone 13    999
                      HumanMessage  \
0  What is the price of iphone 13?

                                           AIMessage
0  select a.product_name, a.price from apple_data...
Chat history:                       HumanMessage  \
0  What is the price of iphone 13?

                                           AIMessage
0  select a.product_name, a.price from apple_data...
   Quantity
0    2005.0
                        HumanMessage  \
0  How many units are left in stock?
1    What is the price of iphone 13?

                                           AIMessage
0  select sum(stock_quantity) as Quantity from ap...
1  select a.product_name, a.price from apple_data...

In [578]:
type(history_df)

pandas.core.frame.DataFrame

In [577]:
generate_llm_response("What is the discounted price?", history_df)[0]

Chat history:                         HumanMessage  \
0  How many units are left in stock?
1    What is the price of iphone 13?

                                           AIMessage
0  select sum(stock_quantity) as Quantity from ap...
1  select a.product_name, a.price from apple_data...

            product_name  price  DiscountedPrice
0              iPhone 13    999           949.05
1            MacBook Air   1299          1208.07
2               iPad Pro    799           735.08
3   Apple Watch Series 7    399           359.10
4            AirPods Pro    249           211.65
5               Mac mini    699           657.06
6              iPhone 12    899           818.09
7               iPad Air    599           539.10
8            MacBook Pro   1799          1583.12
9         Apple Watch SE    279           256.68
10           AirPods Max    549           439.20
11             iPhone SE    399           371.07
12   MacBook Pro 16-inch   2399          2039.15
13             iPad mini    499           459.08
14  Apple Watch Series 6    699           615.12
15       AirPods 3rd Gen    179           170.05
16   MacBook Pro 13-inch   1499          1349.10
17             iPhone 11    699           636.09
18          iPad 9th Gen    329           305.97
19  Apple Watch Series 5    499           449.10
20       AirPods 2nd Gen    159           135.15
21          iMac 27-inch   1799          1619.10
22             iPhone XR    599           551.08
23      iPad Pro 11-inch    899           791.12
24  Apple Watch Series 4    399           379.05
25       AirPods 1st Gen    129           105.78
26        MacBook Air M1    999           929.07
27         iPhone 12 Pro   1099           989.10
28          iPad 8th Gen    429           403.26
29  Apple Watch Series 3    199           169.15
30       AirPods Pro Max    699           524.25
31          iMac 24-inch   1499          1349.10
32         iPhone 13 Pro   1199          1079.10
33    iPad Pro 12.9-inch   1099          1000.09
34  Apple Watch Series 2    299           275.08
35        AirPods Studio    799           703.12
36        MacBook Air M2   1299          1208.07
37        iPhone 12 Mini    699           636.09
38      iPad Air 4th Gen    499           459.08
39   Apple Watch Edition   1299          1104.15
40      AirPods Pro Lite    179           170.05
41               Mac Pro   5999          4799.20
42              iPhone X    799           735.08
43    iPad Pro 10.5-inch    799           719.10
44     Apple Watch Nike+    349           307.12
45             AirPods X    249           211.65
46       MacBook 12-inch   1299          1208.07
47              iPhone 8    599           551.08
48     iPad Mini 5th Gen    399           359.10
49    Apple Watch Hermes   1599          1311.18